#app{
  height: 100vh;
  overflow: hidden;
  .ant-layout{ //页面基本结构布局样式
    height: 100%;
    background-color: #fcfcfc;
    .ant-layout-header{
      background: #076EE4;
      padding: 14px 80px;
      height: 60px;
    }
    .ant-layout-sider{
      background-color: #fff;
    }
  }
  .ant-btn{
    min-width: 88px;
  }

}