.app-header {
  height: 32px;
  line-height: 32px;
  padding: 14px 80px;
  background: #076EE4;
  color: #ffffff;
  display: flex;
  justify-content: space-between;

  .logo {
    width: 160px;
    height: 32px;
    background: url('~@public/pic_logo.png');
  }
}

.app-aside {
  height: calc(100vh - 48px);
  border-right: 1px solid #e8e8e8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.app-main {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;

  .app-tags-view {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d9ecff;
    background-color: #fff;
    .tags {
      display: inline-block;
      padding: 0 25px;
      border-right: 1px solid #d9ecff;
      color: #409eff;
      cursor: pointer;
      position: relative;
      &.active{
        background-color: #ecf5ff;
        font-weight: bold;
      }
      span{
        display: block;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      i {
        right: 6px;
        top: 14px;
        position: absolute;
        &:hover{
          background-color: #409eff;
          color: #fff;
          border-radius: 50%;
        }
      }
    }
  }
}
