.app-header{
  height: 32px;
  line-height: 32px;
  padding: 14px 80px;
  background: #076EE4;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  .logo{
    width:160px;
    height: 32px;
    background: url('~@public/pic_logo.png');
  }
}
.app-aside{
  height: calc(100vh - 48px);
  border-right: 1px solid #e8e8e8;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.app-main{
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}